.navbar-section {
  position: fixed;
  top: 0;
  z-index: 1000;
  margin: auto;
  width: 100%;
  transition: 0.5s;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.5);
}

nav {
  height: 60px;
}

.nav-link {
  color: var(--primary-text-color);
  text-decoration: none;
  transition: 0.1s;
}

.nav-logo {
  color: var(--primary-text-color);
}

.nav-link:hover {
  color: var(--theme-color) !important;
}

.nav-sales {
  color: var(--theme-color) !important;
}

.nav-search-input {
  padding: 5px;
  border: none;
  background-color: #ebedee !important;
}

.nav-search-input-white {
  padding: 5px;
  border: none;
  background-color: #303030 !important;
}

.nav-search-input:focus,
.nav-search-input:active {
  outline: none !important;
  box-shadow: none;
}

.nav-search-input-white:focus,
.nav-search-input-white:active {
  outline: none !important;
  box-shadow: none;
}

.nav-search-icon {
  position: absolute;
  object-fit: contain;
  height: 40px;
  padding: 10px;
  right: 3%;
  cursor: pointer;
}

.nav-icon {
  object-fit: contain;
  height: 40px;
  padding: 10px;
  cursor: pointer;
}

.nav-btn {
  background: none;
  border: none;
}

.bag-btn {
  position: relative;
}

.collapse:not(.show) {
  left: -113%;
}

.navbar-section .dropdown-menu {
  min-width: none !important;
  left: -197% !important;
}

.close-sidebar {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 90%;
  background: none;
  border: none;
}
/* Media Query */
@media screen and (max-width: 992px) {
  .nav-sidebar-logo {
    display: flex !important;
  }
  .navbar-collapse {
    display: block !important;
    position: absolute;
    order: 1;
    background-color: var(--primary-background);
    top: 0;
    left: -13%;
    width: 200px !important;
    height: 100vh !important;
    padding: 20px;
    z-index: 10;
    box-shadow: 8px 15px 15px -5px rgba(0, 0, 0, 0.44);
    -webkit-box-shadow: 8px 15px 15px -5px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 8px 15px 15px -5px rgba(0, 0, 0, 0.44);
    transition: 0.5s !important;
  }

  .nav-icons .search-input-container {
    display: block !important;
    position: relative;
  }

  .nav-link {
    color: rgb(0, 0, 0) !important;
    text-decoration: none;
    transition: 0.1s;
  }

  .nav-sales {
    color: var(--theme-color) !important;
  }

  .nav-icons {
    justify-content: end !important;
    flex: 0 0 66.66666% !important;
    max-width: 66.66666% !important;
    padding: 0;
  }
}
@media screen and (min-width: 992px) {
  .navbar-collapse {
    order: 0;
  }
  .navbar-nav {
    margin-top: 0 !important;
  }
  .close-sidebar {
    display: none;
  }
}
